button {
    border: none;
}
.btn-secondary, .round {
    border-radius: 1rem;
}

.btn {
    font-family: "Sansation";
    font-weight: bold;
}
.btn-link {
    font-family: "Rowdies";
    font-size: .85rem;
}

.react-date-picker .react-date-picker__button {
    padding: 0 6px;
}