// Body
$body-bg: #f8fafc;
$main-color: #000;
$light-green: #e6efe8;
$light-yellow: #f9fff3;
// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
