// Body
$body-bg: #f8fafc;
$main-color: #000;
$light-green: #e6efe8;
$light-yellow: #f9fff3;

// Typography
$main-font: "Roboto", sans-serif;
$secondary-font: "Sansation", sans-serif;
$side-font: "Rowdies", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
