// Fonts
@import "fonts";
// Variables
@import "variables";
@import "bootstrap_overwrite/variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "buttons";
@import "nav-footer";
@import "forms";

@import "calendar";

#app {
    min-height: 100vh;
    font-family: "Roboto";
}

nav,
footer,
.destination,
.destinations,
.main h2 {
    font-family: "Sansation";
}

.full-height {
    min-height: 100vh;
}

.bg-secondary {
    background-color: $secondary;
}

.rotated-90 {
    transform: rotate(90deg);
}

#map-container {
    padding: 0;
}

.dropdown-menu {
    overflow-y: scroll;
    max-height: 50vh;
}
